{% extends "_layouts/default.njk" %}

{% block body %}
    <div class="profile">
        <div class="imgPet">
            <img src="/files/{{ pet.avatar }}" />
        </div>
        {% if(pet.status) %}
            <div class="alert alert-danger">Esse animal foi dado como desaparecido</div>
        {% endif %}
        <strong>Nome: {{ pet.name }}</strong>
        <span><strong>Raça:</strong> {{ pet.raca }}</span>
        <span><strong>Cor:</strong> {{ pet.cor }}</span>
        <span><strong>Peso:</strong> {{ pet.peso }}</span>
        <span><strong>Idade:</strong> {{ years }} anos</span>
        <span><strong>Descrição:</strong> {{ pet.descricao }}</span>
        <div class="infobutton">Encontrou esse animal?
            <a href="">Entre em contato com os donos</a>
        </div>
    </div>
{% endblock %}
