{% extends "_layouts/default.njk" %}

{% block body %}
    <div class="content">
        <strong>Olá, {{ user.name }}</strong>
        <a href="/app/pet/new" class="adcanimal">Adicionar animal</a>
        {% include "_partials/flash.njk" %}
        <p>Seus animais cadastrados:</p>
        <ul class="pets">
            {% for pet in pets %}
                <li class="pet {% if(pet.status) %}desaparecido{% endif %}">
                    <div>
                        <img src="/files/{{ pet.avatar }}" />
                        <strong>{{pet.name}}</strong>
                    </div>
                    <div>
                        <a href="/app/pet/edit/{{pet.id}}"><i class="fas fa-edit"></i></a>
                        <a href="/pet/profile/{{pet.id}}"><i class="fas fa-paw"></i></a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a href="/app/logout" class="logout">Sair</a>
    </div>
{% endblock %}
